* {
    background-color: transparent;
    color: #ffedc7;
    font-family: "Hack";
}

html {
    background-image: linear-gradient(to right, #090a0f, #0c121a, #090a0f);
    height: 100%;
}

.workexperience {
    border-radius: 8px;
    padding: 20px;
    border: 1px solid #5eaf9f;
    text-align: center;
}

p {
    padding-left: 100px;
    padding-right: 100px;
}

button {
    border-radius: 8px;
}

.test {
    border-radius: 8px;
    padding: 20px;
    border: 1px solid #ffae0d;
}

img {
    width: 10%;
    border: 2px solid #09adef;
    /* border-radius: 10%; */
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#test {
    color: #0fffff;
}